:root {

    --white: #f2f4f6;
    --tirqui-acent: #67eaca;
    --celeste: #0CB7F2;
    --turqui: #018790;
    --marine: #0d3f67;
    --gray: #33313b;
}

html {
    background: var(--white) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    height: 80px;
    background-color: rgba(51, 49, 59, .4);
    display: block;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
}

.turqui-acent-text {
    color: var(--tirqui-acent);
}

.logo {
    color: var(--tirqui-acent);
    padding: 0;
    font-size: 2.1rem;
    transition: all ease .5s;

}


.imgbanner {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

nav .cajita{
    background: rgba(51, 49, 59, .2);
}
nav.shrink {
    height: 60px;
    transition: all ease .5s;
    background: var(--turqui);
}

nav.shrink .logo {
    color: var(--white);
    font-size: 1.7rem;
    transition: all ease .5s;
}
nav.shrink .btn-login{
    background: var(--celeste);
    color: var(--white);
    transition: all ease .5s;
}
nav.shrink .textnav{
    color: var(--white);
    transition: all ease .5s;
}

#login-page {
    width: 500px;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*Pantalla Registro*/
:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(0, 77, 97, 0.8);
    --left-button-hover-color: rgba(161, 11, 11, 0.3);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
    --white: #f2f4f6;
    --tirqui-acent: #67eaca;
    --celeste: #0CB7F2;
    --turqui: #018790;
    --marine: #0d3f67;
    --gray: #33313b;
}



.h1Reg {
    font-size: 3rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

.container1 {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left:0;
    background: url('../imgs/AlumnoReg.jpg') center center no-repeat;
    background-size: cover;
}

.split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
}

.split.right {
    right:0;
    background: url('https://image.ibb.co/m3ZbRb/programmer.png') center center no-repeat;
    background-size: cover;
}

.split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-left .right:before {
    z-index: 2;
}


.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

.hover-right .left:before {
    z-index: 2;
}

@media(max-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    .button {
        width: 12rem;
    }
}

@media(max-height: 700px) {
    .button {
        top: 70%;
    }
}
/*Fin Pantalla Registro*/

.blueRegAlu{
    background: rgba(2,44,67, 0.7);
}

.grayRegPro{
    background: rgba(29,25,25, 0.7);
}
