<nav>
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s2 right">
                <a class="waves-effect waves-light btn btn-login">Login</a>
            </div>
            <div class="col s3 right"> <!-- Aqui hiria un search.. si tan solo tubiera uno-->
            </div>
            <div class="col s3 right">

                <ul class="hide-on-med-and-down  left">

                    <li><a class="turqui-acent-text textnav" href="#">Cursos</a></li>
                    <li><a class="turqui-acent-text textnav" href="#">Alumnos</a></li>
                    <li><a class="turqui-acent-text textnav" href="#">Profesores</a></li>
                </ul>
            </div>

            <div class="col s2 right">
                <a class="logo">KOKUA</a>
            </div>
        </div>
    </div>
</nav>