<!DOCTYPE html>
<html lang="">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="/css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <link href="/css/styles.css" media="screen,projection" rel="stylesheet" type="text/css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Kokua Project</title>
</head>
<body>


<main class="container">
    {{> messages }}
    {{> errors }}
    {{{ body }}}
</main>

<!--JavaScript at end of body for optimized loading-->
<script
        crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/materialize.min.js" type="text/javascript"></script>
<script src="/js/init.js" type="text/javascript"></script>
</body>
</html>