<div class="container">
    <div class="row" align="center">
        <div class="col s12">
            <div class="card blueRegAlu">
                <div class="card-content card.medium ">
                    <form action="/users/regAlu" method="POST">
                        <div class="row">
                            <div class="col s12">
                                <div class="row ">
                                    <div class="input-field col s6">
                                        <input id="nomAlu" name="nomAlu" type="text" class="validate white-text">
                                        <label for="nomAlu" class="white-text">Nombre</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="apeAlu" name="apeAlu" type="text" class="validate white-text">
                                        <label for="apeAlu" class="white-text">Apellidos</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="emaAlu" name="emaAlu" type="email" class="validate white-text">
                                        <label for="emaAlu" class="white-text">Correo Electronico</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="numConAlu" name="numConAlu" type="number" class="validate white-text">
                                        <label for="numConAlu" class="white-text">Numero de Control</label>
                                    </div>
                                </div>
                                <div class="input-field col s12 white-text">
                                    <select class="white-text" id="carAlu" name="carAlu">
                                        <option value="1" class="white-text">Sistemas Informaticos</option>
                                        <option value="2" class="white-text">Redes y Telecomunicaciones</option>
                                        <option value="3" class="white-text">Multimedia y Comercio Electronico</option>
                                    </select>
                                    <label class="white-text">Carrera</label>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="pasAlu" name="pasAlu" type="password" class="validate white-text">
                                        <label for="pasAlu" class="white-text">Password</label>
                                    </div>
                                </div>
                                <button class="waves-effect waves-light btn" type="submit">Registrar Alumno</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>