

<div class="container">
    {{#each errors}}
        <!--<a onclick="M.toast({html: 'I am a toast'})" class="btn">Toast!</a>-->
    {{/each}}
    <div class="split left">
        <h1 class="h1Reg">Alumnos</h1>
        <br><br><br><br>
        <div class="container">
            <div class="row" align="center">
                <div class="col s12">
                    <div class="card blueRegAlu">
                        <div class="card-content card.medium ">
                            <form action="/users/regAlu">
                                <button class="waves-effect waves-light btn" type="submit">Registrar Alumno</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="split right">
        <h1 class="h1Reg">Profesores</h1>
        <br><br><br><br><br>
        <div class="container">
            <div class="row" align="center">
                <div class="col s12">
                    <div class="card blueRegAlu">
                        <div class="card-content card.medium ">
                            <form action="/users/regPro">
                                <button class="waves-effect waves-light btn" type="submit">Registrar Profesor</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


