<div class="container">
    <div class="row" align="center">
        <div class="col s12">
            <div class="card grayRegPro">
                <div class="card-content card.medium ">
                    <form action="/users/regPro" method="POST">
                        <div class="row">
                            <div class="col s12">
                                <div class="row ">
                                    <div class="input-field col s6">
                                        <input id="nomPro" name="nomPro" type="text" class="validate white-text">
                                        <label for="nomPro" class="white-text">Nombre</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="apePro" name="apePro" type="text" class="validate white-text">
                                        <label for="apePro" class="white-text">Apellidos</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="emaPro" name="emaPro" type="email" class="validate white-text">
                                        <label for="emaPro" class="white-text">Correo Electronico (Institucional)</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="cedProPro" name="cedProPro" type="number" class="validate white-text">
                                        <label for="cedProPro" class="white-text">Cedula Profecional</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="pasPro" name="pasPro" type="password" class="validate white-text">
                                        <label for="pasPro" class="white-text">Password</label>
                                    </div>
                                </div>
                                <button class="waves-effect waves-light btn" type="submit">Registrar Profesor</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>